@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');


.about h1,.about h2,.about p{
    color: white;
    text-align: center;
}
.about h1{
    color: black;
    padding: 25px;
    font-family: 'Original Surfer', cursive;
    font-size: 40px;

}
.about{
    position: relative;
    margin: auto;
    top: 2rem;
    width: 80%;
    height: 100%;
    /* background-color: #553ea079; */
    background-color: var(--container-bg);
    border-radius: 25px;
}
.about-text{
    position: relative;
    margin-top: -35px;
    
}
.about h2{
    color: black;
    font-size: 30px;
}
.social-links a svg{
    width: 25px;
    height: 25px;
    color: black;
    padding: 5px;
}
.social-links a svg:hover{
    color: rgba(0, 0, 0, 0.678);
}
.social-links{
    text-align: center;
}

@media screen and (min-width: 1600px){
    .about{
        height: 650px;
    }
    .text{
        position: relative;
        top: 10px;
        font-size: 25px;
    }

}